/*
 *   _adminmenu.scss
 *   material-design-dashboard
 * 
 *   Created by codespace on 5/22/23
 *   Copyright © 2023 Fatih Balsoy. All rights reserved.
 */

@import '../abstracts/mixins';

// -----------------------------------------------------------------------------
// This file contains all styles related to the admin menu of the site.
// Image: docs/images/layout/admin_menu.png
// Guidelines: https://m3.material.io/components/navigation-drawer/overview
//             https://m3.material.io/components/navigation-rail/overview
// -----------------------------------------------------------------------------

// * Admin Menu Back * //
#adminmenuback {
    box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.3);
}

#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
    background-color: var(--nd-color);
}

// * Admin Menu Text & Icons * //
#adminmenu div.wp-menu-name {
    color: var(--nd-text-color);
}

#adminmenu div.wp-menu-image:before {
    color: var(--nd-text-color);
}

#adminmenu .opensub .wp-submenu li.current a,
#adminmenu .wp-submenu li.current,
#adminmenu .wp-submenu li.current a,
#adminmenu .wp-submenu li.current a:focus,
#adminmenu .wp-submenu li.current a:hover,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a {
    color: var(--nd-text-color);
    padding-right: 0px;
}

// Selected Menu Text & Icon //
a.wp-has-submenu.wp-has-current-submenu.wp-menu-open>.wp-menu-name {
    color: var(--primary-color) !important;
}

#adminmenu .current div.wp-menu-image:before,
#adminmenu .wp-has-current-submenu div.wp-menu-image:before,
#adminmenu a.current:hover div.wp-menu-image:before,
#adminmenu a.wp-has-current-submenu:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu:hover div.wp-menu-image:before {
    color: var(--primary-color) !important;
}

.folded #adminmenu>.wp-submenu-head {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

// ** ADMIN MENU ** //
#adminmenu {

    // * Menu Item * //
    .wp-submenu-head,
    a.menu-top,
    // Selected
    .wp-has-current-submenu ul>li,
    .folded li.menu-top .wp-submenu>li>a {
        margin-left: 5px;
        margin-right: 5px;
        border-radius: var(--br-10px);
        box-shadow: none !important;

        @include ripple(var(--nd-text-color))
    }

    .wp-submenu li {
        margin-right: 5px;
    }

    div.wp-menu-name {
        border-radius: var(--br-10px) !important;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05) !important;
            color: var(--primary-color) !important;

            @include respond-to('medium') {
                background-color: transparent !important;
            }
        }
    }

    div.wp-menu-image:before {
        padding-top: 6px !important;
    }

    a:focus,
    a:hover,
    .wp-submenu-head:hover {
        box-shadow: none !important;
    }

    li {

        // Hides Right Arrow
        &.wp-has-submenu.wp-not-current-submenu.opensub:hover:after,
        &.wp-has-submenu.wp-not-current-submenu:focus-within:after {
            border-right-color: transparent !important;
        }

        &:hover {
            background-color: transparent !important;
        }
    }

    // * Submenu * //
    .wp-submenu {
        li {
            border-radius: var(--br-10px);

            &:hover {
                background-color: rgba(0, 0, 0, 0.05) !important;
            }
        }

        a,
        a:visited {
            color: #777 !important;
        }

        .wp-submenu-head {
            color: var(--text-color) !important;
            // margin-right: 5px;
            margin-top: 2px;
        }
    }
}

// * FOLDED ADMIN MENU * //
.folded {
    #adminmenu {

        /* .no-js.folded #adminmenu .wp-has-submenu:hover .wp-submenu */
        .opensub .wp-submenu,
        .wp-has-current-submenu .wp-submenu.sub-open,
        .wp-has-current-submenu a.menu-top:focus+.wp-submenu,
        .wp-has-current-submenu.opensub .wp-submenu,
        .wp-submenu.sub-open,
        a.menu-top:focus+.wp-submenu {
            margin-top: -8px;
        }
    }

    #adminmenu,
    #adminmenu li.menu-top,
    #adminmenuback,
    #adminmenuwrap {
        width: 36px + 10px !important;
    }
}

.auto-fold {

    #adminmenu,
    #adminmenu li.menu-top,
    #adminmenuback,
    #adminmenuwrap {
        @include respond-to('large') {
            width: 36px + 10px;
        }

        @include respond-to('medium') {
            width: 100%;
        }
    }
}

.auto-fold #wpcontent,
.auto-fold #wpfooter {
    @include respond-to('large') {
        margin-left: 36px + 10px;
    }

    @include respond-to('medium') {
        margin-left: 0px;
    }
}

// * Selected Menu * //
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
    // background-color: var(--primary-color) !important;
    background-color: rgba(0, 0, 0, 0.05) !important;
    color: var(--primary-color) !important;
}

.current>.wp-menu-name {
    color: var(--primary-color) !important;
}

// Selected Menu Arrow //
ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu>li.current>a.current:after {
    border-right-color: transparent !important;
}

// Selected Menu Item Hover //
#collapse-button:hover,
#collapse-button:focus,
#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu li.menu-top>a:focus,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before {
    color: var(--primary-color) !important;
}

// * Popover Sub Menu * //
#adminmenu .wp-not-current-submenu .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu {
    border-radius: var(--br-10px-right);
}

.auto-fold #adminmenu .opensub .wp-submenu,
.auto-fold #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
.auto-fold #adminmenu .wp-has-current-submenu a.menu-top:focus+.wp-submenu,
.auto-fold #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.auto-fold #adminmenu .wp-submenu.sub-open,
// .auto-fold #adminmenu a.menu-top:focus+.wp-submenu,
.folded #adminmenu .opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
// .folded #adminmenu .wp-has-current-submenu a.menu-top:focus+.wp-submenu,
.folded #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-submenu.sub-open,
.folded #adminmenu a.menu-top:focus+.wp-submenu,
.no-js.folded #adminmenu .wp-has-submenu:hover .wp-submenu {
    left: 36px + 10px;
}

// * Update Badge * //
/* docs/images/components/update_badge.png */
#adminmenu .awaiting-mod,
#adminmenu .menu-counter,
#adminmenu .update-plugins {
    background-color: var(--accent-color) !important;
    float: right;
    margin: 0px;
    // margin-right: -10px !important;
}

// * Collapse Button * //
#collapse-button .collapse-button-icon,
#collapse-button .collapse-button-label {
    left: 4px;
}

#collapse-button .collapse-button-label {
    top: 10px;
}