/*
 *   large_app_bar.scss
 *   material-design-dashboard
 * 
 *   Created by codespace on 5/24/23
 *   Copyright © 2023 Fatih Balsoy. All rights reserved.
 */

@import url('large_app_bar.css');
@import '../abstracts/variables';
@import '../abstracts/mixins';

// ADMIN MENU ON TOP

div#adminmenumain {
    z-index: 2;
    position: absolute;
    top: -40px !important;
}

div#wp-toolbar {
    padding-left: 21% !important;
    padding-right: 9% !important;

    @include respond-to('large') {
        padding-left: 36px + 10px + 20px !important;
        padding-right: 20px !important;
    }

    @include respond-to('medium') {
        padding-left: inherit !important;
        padding-right: inherit !important;
    }
}

.folded #wpcontent>#wpadminbar>div#wp-toolbar {
    padding-left: 10.5% !important;
    padding-right: 10.9% !important;

    @include respond-to('large') {
        padding-left: inherit !important;
        padding-right: inherit !important;
    }
}