/*
 *   large_app_bar_shared.scss
 *   material-board
 * 
 *   Created by codespace on 5/24/23
 *   Copyright © 2023 Fatih Balsoy. All rights reserved.
 */


// Custom element in <div class="wrap"/>
// Check large_app_bar.ts for more details
.large-app-bar {
    background-color: var(--primary-color);
    height: 140px;
    position: absolute;
    width: 100%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
}

#wpadminbar {
    // height: 140px;
    z-index: 1;
    box-shadow: none !important;
}

// h1.wp-heading-inline,
.postbox .inside h2,
.wrap [class$=icon32]+h2,
.wrap h1,
.wrap>h2:first-child {
    margin-top: 60px;
}

h1.wp-heading-inline {
    margin-top: 50px !important;
}

.wp-header-end {
    margin-top: 10px;
}

.update-nag.notice.notice-warning.inline {
    // right: 0;
    top: -15px;
    position: absolute;
    z-index: 0;
}

div#screen-meta {
    // top: 108px;
    z-index: 1;
}

div#screen-meta-links {
    // margin-top: 80px !important;
}

h1.wp-heading-inline,
h1.wp-heading-inline,
.postbox .inside h2,
.wrap [class$=icon32]+h2,
.wrap h1,
.wrap>h2:first-child {
    color: #fff !important;
}

.wp-core-ui .button,
.wrap .page-title-action,
.color-option,
.wp-color-result,
.wp-core-ui .button-primary {
    border-color: white !important;
}

.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active {
    color: white;
}

a.page-title-action {
    color: #fff !important;
    border-color: #fff !important;
}

/* TODO: Replace screen meta options using javascript */

#screen-meta-links .screen-meta-toggle,
#screen-meta-links .show-settings {
    border-radius: var(--br-10px) !important;
    background-color: var(--primary-color);
    box-shadow: none !important;
    color: var(--primary-color-text);

    &:hover {
        color: var(--primary-color-text);
    }
}

input#wp-filter-search-input {
    color: #fff !important;
    border-color: #fff !important;
}

input#wp-filter-search-input::placeholder {
    color: #ffffff80 !important;
}