/*
 *   no_rounded_corners.scss
 *   material-board
 * 
 *   Created by Fatih Balsoy on 4/17/23
 *   Copyright © 2023 Fatih Balsoy. All rights reserved.
 */

:root {
    --br-100pc: 0px;
    --br-100px: 0px;
    --br-10px-bottom: 0px;
    --br-10px-right: 0px;
    --br-10px: 0px;
    --br-8px-top: 0px;
    --br-8px: 0px;
    --br-6px: 0px;
    --br-3px-top: 0px;
    --br-3px-bottom: 0px;
    --br-3px: 0px;
    --br-2px: 0px;
    --br-0px: 0px;
}