/*
 *   wp-login.scss
 *   material-design-dashboard
 * 
 *   Created by Fatih Balsoy on 1/30/20
 *   Copyright © 2020 Fatih Balsoy. All rights reserved.
 */

// 1. Configuration and helpers
@import 'abstracts/variables', 'abstracts/mixins';
// 2. Vendors
// 3. Base stuff
@import 'base/base', 'base/fonts';
// 4. Layout-related sections
// 5. Components
@import 'components/button', 'components/input', 'components/checkbox', 'components/radio';
// 6. Page-specific styles
// 7. Themes

@import url('shared.css');
/* @import url('icons/material-icons.css'); */

body {
    overflow: hidden !important;
}

body {
    background-size: 400px !important;
    background-position-x: 30% !important;
    background-color: var(--light-background) !important;
    position: fixed;
    top: 0;
    z-index: 10;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#login h1 a {
    max-width: 290px !important;
}

.login form {
    background-color: transparent !important;
}

#login {
    z-index: 9999;
    box-shadow: var(--elevation1);
    background-color: #fff;
    padding: 100px 0 100px 0;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    border-radius: var(--br-10px);

    @include respond-to('medium') {
        width: 100% !important;
    }
}

.login form .input,
.login input[type=text] {
    padding-left: 0px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #ddd;
    border-radius: var(--br-0px);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0) !important;
    transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
    // color: var(--primary-color);

    &:focus,
    &:valid {
        box-shadow: none;
        outline: none;
        background-position: 0 0;

        &::-webkit-input-placeholder {
            color: var(--primary-color);
            font-size: 11px;
            transform: translateY(-20px);
            visibility: visible !important;
        }
    }
}

input#wp-submit {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1) !important;
    border: none !important;
    text-shadow: none !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) !important;
    width: 50%;
    max-width: 200px;
    background: var(--primary-color) !important;
    border-radius: var(--br-10px);
}

input#wp-submit:hover {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3) !important;
}

/* "Remember Me" Button */
p.forgetmenot {
    padding-top: 6px;
}

/* With constrained height and width:
 	docs/images/fixes/login_error.png
 * Without constrained height and width:
 	docs/images/fixes/login_error_fixed.png
*/
.login #login_error,
.login .message {
    box-shadow: var(--elevation1);
    border-radius: var(--br-10px) !important;
    border-left-width: 50px !important;
    width: 225px;
    padding-top: 10px !important;
    padding-bottom: 18px !important;
    margin: 0 auto;
    /* height: 40px; */
}

/***  ICONS  ***/
.login #login_error:before,
.login .message:before,
.login .button.wp-hide-pw:before,
.dashicons-visibility:before,
.dashicons-hidden:before {
    font-family: 'Material Icons';
}

.login #login_error:before,
.login .message:before {
    margin-left: -47px;
    margin-right: 23px !important;
    font-size: 150%;
    position: relative;
    top: 6px;
    color: white;
}

.login .message:before {
    content: 'exit_to_app';
}

.login #login_error:before {
    content: 'error';
}

.dashicons-visibility:before {
    content: 'visibility';
}

.dashicons-hidden:before {
    content: 'visibility_off';
}

/* "Lost your password?" Button */
.login #backtoblog,
.login #nav {
    padding: 0 !important;
    margin-top: -25px;
    /* text-align: center; */
    margin-left: 25px !important;
}

.login #backtoblog a {
    display: none;
}

/* "Show password" Button */
.login .button.wp-hide-pw,
.login .button.wp-hide-pw:hover {
    background-color: transparent !important;
    box-shadow: none !important;
    border-radius: var(--br-100pc) !important;
}

.login form {
    width: 300px;
    margin: 0 auto;
    margin-top: 5px;
    vertical-align: middle !important;
    box-shadow: none !important;
    border: none;
}

p#nav>a {
    padding: 0 24px;
}

@media screen and (max-width: 782px) {
    .background-cover {
        background: none !important;
    }

    #loginform,
    .login #backtoblog a,
    .login #nav a {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
}

/* form#loginform p.galogin a {
	 background: transparent;
	 border-color: transparent;
	 text-decoration: none;
	 text-align: center;
	 vertical-align: middle;
	 border-radius: var(--br-10px);
	 padding: 10px 83px;
	 height: 27px;
	 font-size: 14px;
	 margin-bottom: 16px;
	 border: none !important;
	 text-shadow: none !important;
	 box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) !important;
	 transition: all 0.3s ease-in-out !important;
	 font-family: 'Product Sans';
	 font-weight: normal;
 }
 
 form#loginform p.galogin a:before {
	 content: 'google_G ' !important;
	 font-family: 'Product Sans' !important;
	 font-size: 120% !important;
	 position: relative;
	 top: 1.5px;
	 right: 10px;
 } */

/* Google Sign In Plugin */
form#loginform:hover p.galogin:hover {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3) !important;
}

form#loginform p.galogin a {
    border: none !important;
    color: #2196F3;
    line-height: 27px;
    text-decoration: none;
}

form#loginform p.galogin:hover {
    color: #2196F3 !important;
}

p.galogin {
    background: white !important;
    box-shadow: none !important;
    padding: 0px 0px !important;
}

form#loginform p.galogin a:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.25) !important;
    color: #2196F3;
}