/*
 *   profile.scss
 *   material-board
 * 
 *   Created by Fatih Balsoy on 25 Dec 2023
 *   Copyright © 2023 Fatih Balsoy. All rights reserved.
 */

div#profile-page.wrap form#your-profile #profile-nav {
    margin: 0px;
    margin-top: -25px;
    margin-left: -15px;
    width: 100%;
}