/*
 *   fonts.scss
 *   material-design-dashboard
 * 
 *   Created by codespace on 5/22/23
 *   Copyright © 2023 Fatih Balsoy. All rights reserved.
 */

// -----------------------------------------------------------------------------
// This file contains all @font-face declarations.
// -----------------------------------------------------------------------------

// Google Roboto - Apache License 2.0
// Image: docs/images/fonts/roboto.png
@import url(https://fonts.googleapis.com/css?family=Roboto);

// Google Material Icons - Apache License 2.0
// Image: docs/images/fonts/material_icons.png
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

// Community Material Icons - Apache License 2.0
// Image: docs/images/fonts/material_icons_community.png
// @import url(https://cdn.materialdesignicons.com/7.2.96/css/materialdesignicons.min.css);

// Colophon Foundry, DM Serif Display - SIL Open Font License 1.1
// Image: docs/images/fonts/dm_serif_display.png
@import url(https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap);

// Colophon Foundry, DM Sans - SIL Open Font License 1.1
// Image: docs/images/fonts/dm_sans.png
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

// Post-compilation urls if called from src/styles/
@import url($mona-sans-path);
@import url($hubot-sans-path);

// Github Mona Sans - SIL Open Font License 1.1
// Image: docs/images/fonts/mona_sans.png
@font-face {
    font-family: 'Mona Sans';
    src:
        url($mona-sans-path) format('woff2 supports variations'),
        url($mona-sans-path) format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

// Github Hubot Sans - SIL Open Font License 1.1
// Image: docs/images/fonts/hubot_sans.png
@font-face {
    font-family: 'Hubot Sans';
    src:
        url($hubot-sans-path) format('woff2 supports variations'),
        url($hubot-sans-path) format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

/* @import url(https://fonts.googleapis.com/css?family=Product+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i); */